<a href="https://colab.research.google.com/github/Nikithailuri/Python/blob/main/DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
x=["apple", "banana", "cherry",7,8.9 ]
print(x)
print(type(x))

['apple', 'banana', 'cherry', 7, 8.9]
<class 'list'>

In [27]:
x=("apple", "banana", "cherry", 9 ,9,9, 9.0,True,4)
print(x.count(9))
print(x.index("banana"))


print(type(x))

4
1
<class 'tuple'>

In [28]:
x=(1,2,3,4,5,6,7,8,9,)
print(min(x))
print(max(x))
print(type(x))

1
9
<class 'tuple'>

In [29]:
x = {"name" : "John", "age" : 36,}
print(x.keys())
print(x.values())
print(x.items())
print(x.pop("name"))
print(x.update({"course":"python"}))
print(x)
print(type(x))

dict_keys(['name', 'age'])
dict_values(['John', 36])
dict_items([('name', 'John'), ('age', 36)])
John
None
{'age': 36, 'course': 'python'}
<class 'dict'>

In [30]:
x = {"apple", "banana", "cherry"}
print(x)
print(type(x))

{'apple', 'cherry', 'banana'}
<class 'set'>

**LIST METHODS**





append()	Adds an element at the end of the list

clear()	Removes all the elements from the list

copy()	Returns a copy of the list

count()	Returns the number of elements with the specified value

extend()	Add the elements of a list (or any iterable), to the end of the current list

index()	Returns the index of the first element with the specified value

insert()	Adds an element at the specified position

pop()	Removes the element at the specified position

remove()	Removes the first item with the specified value

reverse()	Reverses the order of the list

sort()